.containerHeader {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.containerHeader h1 {
    color: white;
}

.input {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: orangered;
    cursor: pointer;
}

.input input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    border: none;
    width: 30%;
}